@font-face {
  font-family: font1;
  src: url(6446ec4fef33d382b7800a36_Thunder-BoldLC.ttf);
}

@font-face {
  font-family: font2;
  src: url(i7dPIFZifjKcF5UAWdDRYEF8RQ.ttf);
}

@font-face {
  font-family: font3;
  src: url(UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: auto;
  background-color: #242424;
  /* overflow-x: hidden; */
}

#first {
  width: 100%;
  height: 100vh;
  background: #EBE2DA;
}

#nav {
  width: 100%;
  height: 12%;
  background: #EBE2DA;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
}

#logo {
  width: 20%;
  height: 100%;
  /* background: red; */
}

#img {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

#heads {
  width: 60%;
  height: 100%;
  /* background: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#anchores {
  width: 30vw;
  height: 6vh;
  background: #FFFFFF;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#anchores>a {
  text-decoration: none;
  color: black;
  font-family: font2;
  transition: .3s ease all;
}

#anchores>a:hover {
  opacity: .7;
}

#contact {
  width: 20%;
  height: 100%;
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact>button {
  padding: 10px 22px;
  border-radius: 30px;
  color: black;
  background: #EBE2DA;
  font-family: font2;
  border: .5px solid black;
  transition: .3s ease all;
}

#contact>button:hover {
  color: #EBE2DA;
  background: #000;
}

#heading {
  width: 100%;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* background: black; */
}

#heading>h1 {
  font-family: font1;
  font-size: 17vw;
  text-align: center;
  line-height: 170px;
  margin-top: 50px;
}

#image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /* background: #000; */
  position: absolute;
  top: 21.5%;
  mix-blend-mode: difference;
  left: 69%;
  animation: rotate 10s infinite linear;
  transform-origin: 100 50;
}


@keyframes rotate {
  0% {
    rotate: 10deg;
  }

  100% {
    rotate: 360deg;
  }

}

#footer {
  width: 100%;
  height: 10%;
  /* background: #000; */
  bottom: 0%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#footer>h4 {
  font-family: font2;
  font-size: 1vw;
  font-weight: 500;
  line-height: 15px;
}

#mainImage {
  width: 45%;
  height: 100%;
  position: absolute;
  /* background: #000; */
  top: 53%;
  left: 50%;
  transform: translate(-50%, 0);
}

#mainImage>img {
  width: 100%;
  height: 100%;
  filter: saturate(0);
  object-fit: cover;
  transition: .3s ease all;
}

#mainImage>img:hover {
  filter: saturate(1);
}


#second {
  width: 100%;
  height: 70vh;
  background: #242424;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

#third {
  width: 100%;
  height: 120vh;
  background: #242424;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding-left: 20px;
}

#left span {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
}

#left h6 {
  width: fit-content;
  height: fit-content;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  flex: none;
  font-family: font2;
  font-size: 11px;
  line-height: 1.12em;
  color: #ffffffef;
}

#right {
  width: 65%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 50px;
}

#right h2 {
  text-align: left;
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 64px;
  line-height: .9;
  color: #ffffffef;
}

#right>#right-text {
  text-align: left;
  font-weight: 500;
  letter-spacing: -1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: font3, sans-serif;
  font-size: 15rem !important;
  line-height: .8;
  color: #242424;
}

#fourth {
  width: 100%;
  height: 120vh;
  background: #EBE2DA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#fourth>#fourth-heading {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 20px;

}

#fourth>#fourth-heading span:first-child {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #000;
}

#fourth>#fourth-heading span:last-child {
  width: fit-content;
  height: fit-content;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: font2;
  font-size: 18px;
  color: #000000ef;
}

#fourth>#heading-text {
  width: 96%;
  height: 50vh;
  padding-right: 20px;
  display: flex;
  align-items: start;
  justify-content: start;

}

#fourth>#heading-text h1 {
  
  text-align: left;
  font-weight: 500;
  letter-spacing: -1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: font3, sans-serif;
  font-size: 15rem;
  line-height: .8;
  color: #000000ef;
}

#fifth {
  width: 100%;
  height: auto;
  background: #EBE2DA;
}

#fifth>.list-item {
  width: 100%;
  height: auto;
  background-color: #EBE2DA;
}

#fifth>.list-item .clickable-div {
  padding-left: 30px;
  width: 100%;
  height: 10vh;
  background-color: #EBE2DA;
  cursor: pointer;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  transition: all ease-in-out .3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fifth>.list-item .clickable-div:hover {
  color: #EBE2DA;
  background-color: #242422;
  cursor: pointer;

}

#fifth>.list-item .clickable-div .heading-first {
  width: 25%;
  height: fit-content;
}

#fifth>.list-item .clickable-div .heading-first h3 {
  font-weight: 500;
  font-family: font3;
}

#fifth>.list-item .clickable-div .heading-second {
  width: 75%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fifth>.list-item .clickable-div .heading-second {
  width: 75%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fifth>.list-item .clickable-div .heading-second h4 {
  font-size: 14px;
  font-weight: 400;
  font-family: font2;
  width: fit-content;
  height: fit-content;
}

#fifth>.list-item .clickable-div .heading-second ul {

  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

#fifth>.list-item .clickable-div .heading-second ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fifth>.list-item .clickable-div .heading-second ul li a {
  width: fit-content;
  height: fit-content;
  font-family: font2;
  border: 1px solid #242424;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
}

.colortag {
  color: rgb(100, 100, 100);
}

.hidden-div {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 0vh;
  background-color: #242424;
  /* display: none; */
  /* Hide the div by default */
  transition: all ease-in-out .5s;
}

.main-hidden {
  padding-top: 30px;
  margin: 0px auto;
  width: 98%;
  height: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.main-hidden .left {
  width: 48%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.main-hidden .left img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.main-hidden .right {
  width: 48%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.main-hidden .right img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.hidden-div>.hiddan-text-area {
  display: none;
  width: 98%;
  height: 10%;
  margin: 0px auto;
  transition: all ease-in-out .5s;

}

.hidden-div>.hiddan-text-area p {
  width: 96%;
  height: 100%;
  margin: 0px auto;
  margin-top: 0px;
  font-family: font2;
  font-size: 14px;
  color: #dbdbdb;
  text-transform: uppercase;
  line-height: 1;
  transition: all ease-in-out .5s;
}

.image-slider {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #242424;
  overflow: hidden;
  position: relative;
}

.slide-btn-container{
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 96%;
  height: 10%;
  margin: 0px auto;
}

.slide-btn-container i{
  border-radius: 30px;
  font-weight: 400;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  background-color: #242424;
  color: #ffffff;
  border: 1px solid #dbdbdb;
  
}

.left-arrow,
.right-arrow {
    font-size: 2em;
    cursor: pointer;
}

.slider-container {
  top: 14%;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  gap: 20px;
  margin: 0px auto;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  min-width: 24%;
  height: 100%;
}

.slide img {
  filter: grayscale(1);
  border-radius: 20px;
  width: 100%;
  height: 90%;
}

.slide img:hover {
  filter: grayscale(0);
}

.img-desc{
  width: 100%;
  height: 10%;
}

.img-desc h2{
  margin-top: 10px;
  margin-bottom: 6px;
  color: #dbdbdb;
  font-family: font3;
  font-size: 20px;
  font-weight: 500;
}

.img-desc h3{
  
  color: #dbdbdb;
  font-family: font3;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#move-text {
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: auto;
  background: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#move-text>h1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 50vh;
  letter-spacing: 2px;
  font-family: font1;
  color: #EBE2DA;
  position: relative;
  animation: move 50s linear infinite;
}

@keyframes move {
  0% {
    left: 0%;
  }

  100% {
    left: calc(-100% - 14%);
    /* Move the element to the rightmost position */
  }
}

#left-arrow1:hover{
  cursor: pointer;
  color: #242424;
  background-color: #dbdbdb;
}


#left-arrow2:hover{
  cursor: pointer;
  color: #242424;
  background-color: #dbdbdb;
}

#right-arrow1:hover{
  cursor: pointer;
  color: #242424;
  background-color: #dbdbdb;
}

#right-arrow2:hover{
  cursor: pointer;
  color: #242424;
  background-color: #dbdbdb;
}

.slide>.slide-container{
  padding: 10px;
  cursor: pointer;
  background-color: #242422;
  color: #fff;
  width: 100%;
  height: 90%;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-y: hidden;
}

.slide>.slide-container::after{
  content: "Defining the goals and objectives of a project, identifying the target audience, determining key messaging and positioning, and selecting the most effective channels to reach that audience.";
  cursor: pointer;
  background-color: #dbdbdb;
  color: #242424;
  width: 280px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: font3;
  line-height: 18px;
  font-size: 16px;
  padding: 20px;
  position: absolute;
  top: 90%;
  z-index: -1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slide>.slide-container:hover::after{
  transform: translateY(-65%);
  z-index: 1;
  transition: all ease-in 1s;
}


.slide>.slide-container .top{
  padding: 10px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.slide>.slide-container .top h2{
  font-weight: 500;
  font-family: font2;
  line-height: 15px;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide>.slide-container .top img{
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide>.slide-container .footer{
  padding: 20px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide>.slide-container .footer h5{
  font-weight: 500;
  font-family: font2;
  line-height: 15px;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
 
}

.slide>.slide-container .footer h5::after{
  padding-left: 5px;
  content: "+";
  font-weight: 500;
  font-family: font2;
  line-height: 15px;
  text-transform: uppercase;
  font-size: 23px;
}

.moving-two-card{
  width: 100%;
  height: 60vh;
  background: #242424;
  position: relative;
  overflow-x: hidden;
}

.moving-two-card>#move-card {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  animation: move 50s linear infinite;
  
}

.moving-two-card>#move-card .move-item{
  padding-left: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  background: #242424;
}

.moving-two-card>#move-card .move-item h3{
  letter-spacing: 2px;
  color: #ffffffd8;
  text-transform: uppercase;
  font-family: font2;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
  white-space: nowrap;
}

.moving-two-card>#move-card .move-item span{
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.moving-two-card>#move-card .move-item img{
  width: 45px;
  height: 40px;
  border-radius: 50%;
}

@keyframes move {
  0% {
    left: 0%;
  }

  100% {
    left: calc(-100% - 14%);
    /* Move the element to the rightmost position */
  }
}

.moving-two-card>#move-image {
  top: 50px;
  gap: 20px;
  margin-left: 0%;
  width: auto;
  height: 120px;
  background: #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  animation: moveImage 50s linear infinite;
  
}

.moving-two-card>#move-image .move-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 10px;
}

.moving-two-card>#move-image .move-item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

 @keyframes moveImage {
  0% {
    left: calc(-100% - 14%);
  }

  100% {
    left: 0%;
    
    /* Move the element to the rightmost position */
  }
} 

.text-card{
  width: 100%;
  height: 100vh;
  background-color: #242424;
  text-align: center;

}

.text-card h1{
  color: #dbdbdb;
  width: 96%;
  font-size: 18rem;
  font-family: font1;
  font-weight: bolder;
  margin: 0px auto;
}

.text-card a{
  text-decoration: none;
}

.text-card a button{
  font-size: 1.5rem;
  font-family: font2;
  font-weight: 500;
  text-transform: uppercase;
  color: #dbdbdb;
  border-radius: 100px;
  width: 94%;
  height: 30vh;
  background-color: #242424;
  border: 1px solid #dbdbdb;
}

.text-card a button:hover{
  background-color: #dbdbdb;
  color: #242422;
  cursor: pointer;
}